/* -- Reset styles -- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}


/* -- Header -- */

.header {
  background-color:rgba(255, 255, 255, 0.8);
  width: auto;
  height: 100px;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

/* -- Main -- */

.main {
  background-color: #F8F8F8;
}
.main__title {
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  color: #1B0C11;
  padding: 70px 0 70px 0;
}

/* -- Footer -- */

footer {
  background-color: grey;
  width: auto;
  height: 100px;
}